---
DisableFormat: 'false'
BasedOnStyle: 'LLVM'
AccessModifierOffset: -4
AlignAfterOpenBracket: 'Align'
AlignConsecutiveAssignments: 'false'
AlignConsecutiveDeclarations: 'false'
AlignConsecutiveMacros: 'false'
AlignEscapedNewlines: 'Left'
AlignOperands: 'true'
AlignTrailingComments: 'true'
AllowAllArgumentsOnNextLine: 'true'
AllowAllConstructorInitializersOnNextLine: 'false'
AllowAllParametersOfDeclarationOnNextLine: 'false'
AllowShortBlocksOnASingleLine: 'false'
AllowShortCaseLabelsOnASingleLine: 'false'
AllowShortFunctionsOnASingleLine: 'Empty'
AllowShortIfStatementsOnASingleLine: 'Never'
AllowShortLambdasOnASingleLine: 'Empty'
AllowShortLoopsOnASingleLine: 'false'
AlwaysBreakAfterReturnType: 'None'
AlwaysBreakBeforeMultilineStrings: 'false'
AlwaysBreakTemplateDeclarations: 'Yes'
BinPackArguments: 'false'
BinPackParameters: 'false'
BreakBeforeBraces: 'Custom'
BraceWrapping:
  AfterCaseLabel: 'false'
  AfterClass: 'false'
  AfterEnum: 'false'
  AfterStruct: 'false'
  AfterFunction: 'false'
  AfterNamespace: 'false'
  AfterControlStatement: 'false'
  AfterUnion: 'false'
  AfterExternBlock: 'true'
  BeforeCatch: 'true'
  BeforeElse: 'true'
  SplitEmptyFunction: 'false'
  SplitEmptyRecord: 'false'
  SplitEmptyNamespace: 'false'
BreakAfterJavaFieldAnnotations: 'true'
BreakBeforeBinaryOperators: 'All'
BreakBeforeTernaryOperators: 'true'
BreakConstructorInitializers: 'BeforeColon'
BreakInheritanceList: 'AfterColon'
BreakStringLiterals: 'true'
ColumnLimit: 90
CommentPragmas: ''
CompactNamespaces: 'false'
ConstructorInitializerAllOnOneLineOrOnePerLine: 'true'
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
Cpp11BracedListStyle: 'true'
DeriveLineEnding: 'false'
DerivePointerAlignment: 'false'
ExperimentalAutoDetectBinPacking: 'false'
FixNamespaceComments: 'true'
IncludeBlocks: 'Preserve'
IndentCaseLabels: 'false'
IndentPPDirectives: 'None'
IndentWidth: 4
IndentWrappedFunctionNames: 'false'
KeepEmptyLinesAtTheStartOfBlocks: 'true'
MaxEmptyLinesToKeep: 2
NamespaceIndentation: 'None'
PenaltyBreakAssignment: 2
PenaltyExcessCharacter: 100
PointerAlignment: 'Right'
ReflowComments: 'true'
SortIncludes: 'true'
SortUsingDeclarations: 'true'
SpaceAfterCStyleCast: 'true'
SpaceAfterLogicalNot: 'false'
SpaceAfterTemplateKeyword: 'false'
SpaceBeforeAssignmentOperators: 'true'
SpaceBeforeCpp11BracedList: 'false'
SpaceBeforeCtorInitializerColon: 'true'
SpaceBeforeInheritanceColon: 'true'
SpaceBeforeParens: 'ControlStatements'
SpaceBeforeRangeBasedForLoopColon: 'true'
SpaceBeforeSquareBrackets: 'false'
SpacesBeforeTrailingComments: 1
SpaceInEmptyBlock: 'false'
SpaceInEmptyParentheses: 'false'
SpacesInAngles: 'false'
SpacesInCStyleCastParentheses: 'false'
SpacesInContainerLiterals: 'false'
SpacesInParentheses: 'false'
SpacesInSquareBrackets: 'false'
Language: 'Cpp'
Standard: 'c++17'
TabWidth: 4
UseCRLF: 'false'
UseTab: 'ForIndentation'
...
