# editor-specific files
\#*
.#*
*~
.*.swp

# ELF files
*.o
*.a
*.so
/openage

# python bytecode
*.pyc
*.pyo
__pycache__

# workflow
*.orig

# build system
/bin
/.bin

# CMake in-source builds
/DartConfiguration.tcl
/codegen_depend_cache
/codegen_target_cache
/tests_cpp
/tests_python
/Doxyfile
/Testing
/py/setup.py
CTestTestfile.cmake
CMakeFiles
cmake_install.cmake
CMakeCache.txt
Makefile
!/Makefile

# debugging
callgrind.out.*
perf.data*
.gdb_history

