# editor-specific files
\#*
.#*
*~
.*.swp

# ELF files
*.o
*.a
*.so
/openage

# python bytecode
*.pyc
*.pyo
__pycache__

# workflow
*.orig

# build system
/bin
/.bin
CTestTestfile.cmake
CMakeFiles
cmake_install.cmake
CMakeCache.txt
/Doxyfile
/Testing

# debugging
callgrind.out.*
perf.data*
.gdb_history

# converted game assets
data/age
