Michael Enßlin <michael@ensslin.cc>
Jonas Jelten <jj@sft.mx> <jonas.jelten@gmail.com> <jelten@in.tum.de>
Jonas Jelten <jj@sft.mx> <jelten@in.tum.de>
René Kooi <rene@kooi.me> <renekooi@outlook.com>
Matthias Bogad <matthias@bogad.at> <matthias.bogad@tum.de>
James Mintram <jamesmintram@gmail.com> <james@lemonmoosegames.com>
Jimmy Berry <jimmy@boombatower.com>
Henry Snoek <?> <snoek09@users.noreply.github.com>
coop shell (Michael Enßlin, Jonas Jelten, Andre Kupka) <coop@sft.mx>
