Michael Enßlin <michael@ensslin.cc>
Jonas Jelten <jj@sft.mx> <jonas.jelten@gmail.com>
Jonas Jelten <jj@sft.mx> <jelten@in.tum.de>
René Kooi <rene@kooi.me> <renekooi@outlook.com>
Matthias Bogad <matthias@bogad.at> <matthias.bogad@tum.de>
James Mintram <jamesmintram@gmail.com> <james@lemonmoosegames.com>
Sam Schetterer <samschet@gmail.com> <schets@users.noreply.github.com>
Jimmy Berry <jimmy@boombatower.com>
Jonathan Remnant <jono4728@gmail.com>
Henry Snoek <?> <snoek09@users.noreply.github.com>
coop shell (Michael Enßlin, Jonas Jelten, Andre Kupka) <coop@sft.mx>
Franz-Niclas Muschter <fm@stusta.net> <franz-niclas.muschter@stusta.net>
Niklas Fiekas <niklas.fiekas@backscattering.de> <niklas.fiekas@tu-clausthal.de>
