#include "testlist.h"

#include "testing.h"

// function prototypes in their proper namespaces
FUNCTION_PROTOTYPES

namespace testing {

std::map<std::string, test_function_t> tests = {
	TEST_MAPPINGS
};

std::map<std::string, demo_function_t> demos = {
	DEMO_MAPPINGS
};

} // namespace testing
