// Copyright 2014-2018 the openage authors. See copying.md for legal info.

#include "testing/testlist.h"

#include <map>

// function prototypes in their proper namespaces
FUNCTION_PROTOTYPES

namespace openage {
namespace testing {


std::map<std::string, void (*)()> method_list = {
	METHOD_MAPPINGS
};


void run_method(const std::string &name) {
	auto method = method_list.find(name);

	if (method == method_list.end()) {
		throw Error(MSG(err) << "No such method: " << name);
	}

	method->second();
}


}} // namespace openage::testing
