// Copyright 2016-2016 the openage authors. See copying.md for legal info.

{{ "#" }}include "coord_{{ formatted_members("{}", join_with="") }}.gen.h"

#include <cstdio>

namespace openage {
namespace coord {

// fully implemented as templated code in the header file.

} // namespace coord
} // namespace openage
