[COMMAND]
placeholder=COMMAND_SWITCH
alpha=254
description=Red tint
code={
col = vec4(1.0, 0.0, 0.0, 1.0) * tex_val;
}

[COMMAND]
placeholder=COMMAND_SWITCH
alpha=252
description=Green tint
code={
col = vec4(0.0, 1.0, 0.0, 1.0) * tex_val;
}

[COMMAND]
placeholder=COMMAND_SWITCH
alpha=250
description=Blue tint
code={
col = vec4(0.0, 0.0, 1.0, 1.0) * tex_val;
}