Source: openage
Section: unknown
Priority: optional
Maintainer: Jonas Jelten <jj@sft.mx>
Build-Depends: debhelper (>= 9), cmake
Standards-Version: 3.9.5
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://anonscm.debian.org/collab-maint/openage.git
#Vcs-Browser: http://anonscm.debian.org/?p=collab-maint/openage.git;a=summary

Package: openage
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
